.timer_intro {
    text-align: center;
    font-size: 2em;
    color: white;
}

.timer_class {
    margin: auto;
    font-size: 7em;
    color: white;
    text-shadow: 0 0 30px rgba(82, 78, 78, 0.75);
    border: 50px;
    border-color: rgba(82, 78, 78, 0.75) ;
}