
.tarjeta{
    font-family: sans-serif;
    width: 40%;
    max-width: 300px;
    padding: 20px;
    box-shadow: 0 0 8px #888888;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
}

.nombre{
    font-size: 1.1em;
    letter-spacing: 0.8px;
}
#foto{
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin: 15px auto;
}
.funcion{
    color: #0071BC;
}
.info{
    text-align: left;
    margin-left: 3em;
}

.descripcion{
    font-weight: 300;
}

@media (max-width: 600px){
    .tarjeta {
        flex-direction: column;
        text-align: center;
        padding: 2em;
    }
    #foto{
        margin: auto;
        padding-bottom: 1em;
    }
}


