footer {
	background-color: var(--neutral-9);
	padding: var(--space-l);
	padding-bottom: 0;
	margin: auto;
}

footer h6 {
	color: var(--neutral-5);
	font-size: 11px;
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

.organizations {
	display: flex;
	justify-content: space-around;
}

.organizations > div > div {
	display: flex;
	justify-content: center;
}
.organizations > div > div {
	margin-top: var(--space-xs);
}

.organizations > div > div img {
	margin: 0 var(--space-xxs);
}

.organizations > .organizer > div img {
	max-height: 35px;
}
.organizations > .collaborators > div img {
	max-height: 25px;
}

.find-us {
	max-width: 250px;
	margin: var(--space-l) auto;
	display: flex;
	justify-content: space-around;
	color: var(--neutral-5);
	cursor: pointer;
}

.find-us *:hover {
	color: var(--neutral-3);
}

.creative-commons {
	color: var(--neutral-5);
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding-bottom: var(--space-xss);
}
