:root {
	--primary-1: #001e3d;
	--primary-2: #07335e;
	--primary-3: #06447a;
	--primary-4: #035b9e;
	--primary-5: #0071bc;
	--primary-6: #1c8dd4;
	--primary-7: #34a7e5;
	--primary-8: #7acffa;
	--primary-9: #b8eaff;
	--primary-10: #dff1fc;
	--neutral-1: #1f2933;
	--neutral-2: #323f4b;
	--neutral-3: #3e4c59;
	--neutral-4: #52606d;
	--neutral-5: #616e7c;
	--neutral-6: #7b8794;
	--neutral-7: #9aa5b1;
	--neutral-8: #cbd2d9;
	--neutral-9: #e4e7eb;
	--neutral-10: #f5f7fa;
	--ok-1: #004440;
	--ok-2: #016457;
	--ok-3: #048271;
	--ok-4: #079a82;
	--ok-5: #17b897;
	--ok-6: #2dcca7;
	--ok-7: #5fe3c0;
	--ok-8: #8eedd1;
	--ok-9: #c6f7e9;
	--ok-10: #f0fcf9;
	--error-1: #610316;
	--error-2: #8a041a;
	--error-3: #ab091e;
	--error-4: #cf1124;
	--error-5: #e12d39;
	--error-6: #ef4e4e;
	--error-7: #f86a6a;
	--error-8: #ff9b9b;
	--error-9: #ffbdbd;
	--error-10: #ffe3e3;
	--orange-1: #841003;
	--orange-2: #ad1d07;
	--orange-3: #c52707;
	--orange-4: #de3a11;
	--orange-5: #f35627;
	--orange-6: #f9703e;
	--orange-7: #ff9466;
	--orange-8: #ffb088;
	--orange-9: #ffd0b5;
	--orange-10: #ffe8d9;
	--yellow-1: #8d2b0b;
	--yellow-2: #b44d12;
	--yellow-3: #cb6e17;
	--yellow-4: #de911d;
	--yellow-5: #f0b429;
	--yellow-6: #f7c948;
	--yellow-7: #fadb5f;
	--yellow-8: #fce588;
	--yellow-9: #fff3c4;
	--yellow-10: #fffbea;
	--bronze-1: #cd7f32;
	--bronze-2: #e4a86d;
	--bronze-3: #f6d2ae;
	--bronze-4: #fcead8;
	--silver-1: #c0c0c0;
	--silver-2: #e3e3e3;
	--silver-3: #f0f0f0;
	--silver-4: #efefef;
	--gold-1: #ffdb26;
	--gold-2: #ffe873;
	--gold-3: #fef3c0;
	--gold-4: #fdf7d5;
	--platinum-1: #a0b2c6;
	--platinum-2: #c6d2df;
	--platinum-3: #e3ebf3;
	--platinum-4: #dde6f1;
	--white: #ffffff;

	--roboto: "Roboto", sans-serif;
	--source-sans-pro: "Source Sans Pro", sans-serif;

	--space-xxxs: 2px;
	--space-xxs: 5px;
	--space-xs: 10px;
	--space-s: 15px;
	--space-m: 20px;
	--space-l: 30px;
	--space-xl: 40px;

	--font-regular: 400;
	--font-medium-roboto: 500;
	--font-bold-source-sans-pro: 600;
	--font-bold-roboto: 700;

	--box-shadow-on-light-bck: 0px 1px 6px var(--neutral-7);

	--box-shadow-on-light-bck-light: 0px 1px 6px var(--neutral-8);
	--box-shadow-on-light-bck-light-ok: 0px 1px 6px var(--ok-8);
	--box-shadow-on-light-bck-light-error: 0px 1px 6px var(--error-8);
	--box-shadow-on-light-bck-light-info: 0px 1px 6px var(--yellow-8);

	--box-shadow-img-inset: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2);

	--box-shadow-input-inset: inset 0 0 3px var(--neutral-8);
	--box-shadow-input-inset-ok: inset 0 0 3px var(--ok-8);
	--box-shadow-input-inset-error: inset 0 0 3px var(--error-8);
	--box-shadow-input-inset-info: inset 0 0 3px var(--yellow-8);

	--border-radius-m: 5px;

	--transition-fast: 0.18s;
	--transition-normal: 0.3s;

	--min-width-m: 250px;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--source-sans-pro);
	text-align: justify;
}

.restrict-width {
	max-width: 700px;
	margin: 0 auto;
}

@media screen and (min-width: 1200px) {
	.restrict-width {
		max-width: 1000px;
	}
}

@media screen and (min-width: 1800px) {
	.restrict-width {
		max-width: 1500px;
	}
}

h1 {
	font-size: 34px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	color: var(--primary-1);
}

h2 {
	font-size: 30px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--primary-2);
}

h3 {
	font-size: 24px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--primary-2);
}

h4 {
	font-size: 18px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--neutral-3);
}

h5 {
	font-size: 16px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--neutral-1);
}

h6 {
	font-size: 13px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	color: var(--neutral-1);
	text-transform: uppercase;
}

@media screen and (min-width: 592px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 44px;
	}

	h3 {
		font-size: 36px;
	}
	h4 {
		font-size: 28px;
	}
	h5 {
		font-style: 20px;
	}
}

p {
	font-family: var(--source-sans-pro);
	color: var(--neutral-1);
	padding-bottom: var(--space-s);
}

p.small {
	font-size: 0.875rem;
	color: var(--neutral-6);
}

button.primary-btn {
	padding: var(--space-xs) var(--space-s);
	border: 0;
	border-radius: var(--border-radius-m);
	background: var(--primary-5);
	color: var(--neutral-10);
	font-size: 15px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	cursor: pointer;
	box-shadow: var(--box-shadow-on-light-bck);
	transition: var(--transition-fast) background ease;
}

button.primary-btn.hover {
	background: var(--primary-4);
}

button.primary-btn.focus {
	--border-width: 3px;
	border: var(--border-width) solid var(--neutral-1);
	padding: calc(var(--space-xs) - var(--border-width)) calc(var(--space-s) - var(--border-width));
	background: var(--primary-4);
	outline: none;
}

button.primary-btn.disabled {
	border: 0;
	opacity: 0.6;
	cursor: not-allowed;
}

button.secondary-btn {
	padding: var(--space-xs) var(--space-s);
	border: 1px solid var(--primary-5);
	border-radius: var(--border-radius-m);
	color: var(--primary-4);
	background: var(--neutral-10);
	font-size: 15px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	cursor: pointer;
	box-shadow: var(--box-shadow-on-light-bck);
	transition: var(--transition-fast) background ease;
}

button.secondary-btn.hover {
	border: 1px solid var(--primary-4);
	background: var(--neutral-9);
}

button.secondary-btn.focus {
	--border-width: 2px;
	padding: calc(var(--space-xs) - var(--border-width)) calc(var(--space-s) - var(--border-width));
	border: var(--border-width) solid var(--primary-5);
}

button.secondary-btn.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button.tertiary-btn {
	letter-spacing: 1.9px;
	text-decoration: underline;
	border: 0;
	color: var(--neutral-3);
	background: var(--neutral-10);
	font-size: 15px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	cursor: pointer;
	transition: var(--transition-fast) background ease;
	padding: var(--space-xs) var(--space-s);
}

button.tertiary-btn.hover {
	color: var(--neutral-1);
}

button.tertiary-btn.focus {
	border: 1px solid var(--neutral-2);
	border-radius: var(--border-radius-m);
	color: var(--neutral-1);
}

button.tertiary-btn.disabled {
	opacity: 0.45;
	cursor: not-allowed;
}

input {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	line-height: inherit;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

.checkbox-container > div:first-child,
.radio {
	display: flex;
}
.radio-container {
	align-items: center;
}

.checkbox-container .checkbox-info {
	margin-left: var(--space-m);
}

.radio-container label {
	margin-left: var(--space-xs);
}

[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 1em;
	width: 1em;
	color: var(--primary-5);
	border: 1px solid var(--neutral-4);
	border-radius: 0.25rem;
	flex-shrink: 0;
	transition: all var(--transition-fast) ease-in-out;
	box-shadow: var(--box-shadow-input-inset);
	cursor: pointer;
}

[type="checkbox"]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
	border-color: transparent;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--primary-6);
	box-shadow: none;
}

.checkbox-container > div > .checkbox-info > label,
.radio-container > label > span {
	font-style: var(--roboto);
	font-weight: var(--font-bold-roboto);
	color: var(--neutral-3);
	font-size: 15px;
	cursor: pointer;
}

.radio-container > label > span {
	font-weight: var(--font-medium-roboto);
}

.checkbox-container p {
	margin-top: var(--space-xxxs);
}

.radio-options h5 ~ div {
	margin-left: var(--space-m);
}
.radio-container > label {
	line-height: var(--space-s);
	margin: var(--space-xs) 0;
	display: flex;
	align-items: flex-start;
}

.radio-container > label > span {
	margin-left: var(--space-xs);
}

[type="radio"] {
	width: 0;
	height: 0;
	opacity: 0;
}
[type="radio"]:checked + .outer .inner {
	transform: scale(1);
	opacity: 1;
}
[type="radio"]:checked + .outer {
	border: 2px solid var(--primary-6);
	box-shadow: none;
}

[type="radio"]:focus + .outer .inner {
	transform: scale(1);
	opacity: 1;
	background-color: var(--primary-6);
}

.outer {
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	border: 2px solid var(--neutral-4);
	border-radius: 50%;
	background-color: var(--neutral-10);
	box-shadow: var(--box-shadow-input-inset);
}

.inner {
	transition: all var(--transition-normal) ease-in-out;
	width: 6px;
	height: 6px;
	transform: scale(0);
	display: block;
	margin: 2px;
	border-radius: 50%;
	background-color: var(--primary-5);
	opacity: 0;
}

.text-input-container {
	margin: var(--space-s) 0;
}

.text-input-container > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

[type="text"] {
	border: 1px solid var(--neutral-7);
	border-radius: var(--border-radius-m);
	padding: var(--space-xs) var(--space-m);
	width: calc(100% - 2 * var(--space-m) - 2px * 1);
	outline: none;
	color: var(--neutral-1);
	background-color: transparent;
	box-shadow: var(--box-shadow-input-inset), var(--box-shadow-on-light-bck-light);
}

[type="text"]::placeholder {
	color: var(--neutral-7);
}

[type="text"].focus {
	border-color: var(--neutral-5);
}

[type="text"].ok {
	border-color: var(--ok-3);
	border-left: var(--space-xxs) solid var(--ok-3);
	padding-left: var(--space-s);
	box-shadow: var(--box-shadow-input-inset-ok), var(--box-shadow-on-light-bck-light-ok);
	background: var(--ok-10);
	color: var(--ok-1);
}

[type="text"].error {
	border-color: var(--error-4);
	border-left: var(--space-xxs) solid var(--error-4);
	padding-left: var(--space-s);
	box-shadow: var(--box-shadow-input-inset-error), var(--box-shadow-on-light-bck-light-error);
	color: var(--error-1);
	background: var(--error-10);
}

[type="text"].info {
	border-color: var(--yellow-4);
	border-left: var(--space-xxs) solid var(--yellow-4);
	padding-left: var(--space-s);
	box-shadow: var(--box-shadow-input-inset-info), var(--box-shadow-on-light-bck-light-info);
}

[type="text"].disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.text-input-container > div > span {
	font-size: 10px;
	color: var(--neutral-6);
	padding-left: var(--space-m);
	padding-top: var(--space-xxxs);
	min-height: 18px;
	max-width: calc(var(--min-width-m) - var(--space-m));
}

[type="text"].ok ~ span {
	color: var(--ok-2);
}

[type="text"].error ~ span {
	color: var(--error-2);
	font-weight: var(--font-bold-roboto);
}
[type="text"].info ~ span {
	font-weight: var(--font-bold-roboto);
}

.form-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.form-question {
	color: var(--primary-2);
	font-size: 16px;
	margin-bottom: var(--space-xs);
}

.form-info h4 {
	color: var(--primary-1);
	margin-bottom: var(--space-xs);
}

.form-section:not(:first-child) {
	margin-top: var(--space-l);
}

.form-inputs > div:first-child {
	margin-top: var(--space-xxs);
}

@media screen and (min-width: 900px) {
	.form-section {
		flex-direction: row;
	}

	.form-info {
		margin-right: var(--space-xl);
	}

	.form-info > * {
		text-align: right;
		width: 320px;
	}

	.form-inputs {
		width: 400px;
	}
}

.select-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--space-s) auto;
}

.select-input-container > div {
	width: 100%;
}

.select-input-wrapper {
	border: 1px solid var(--neutral-7);
	border-radius: var(--border-radius-m);
	/*
	padding: var(--space-xs) var(--space-m);
	padding-right: calc(2 * var(--space-s) + 9.38px);
	*/
	color: var(--neutral-1);
	background-color: transparent;
	box-shadow: var(--box-shadow-input-inset), var(--box-shadow-on-light-bck-light);
	position: relative;
	text-align: left;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 990;
}

.select-input-wrapper .selection-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.select-input-wrapper.open {
	border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
	border-bottom: 1px solid var(--neutral-8);
}

.select-input-wrapper [type="text"] {
	border: none;
	width: inherit;
	box-shadow: none;
	width: calc(100% - 2 * var(--space-m) - var(--space-s));
	padding-right: 0;
}
.select-input-wrapper i {
	position: absolute;
	background: var(--neutral-9);
	top: 0;
	right: 0;
	border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--space-xs) var(--space-s);
	font-size: 15px;
	border-left: var(--space-xxs) solid var(--neutral-10);
	cursor: pointer;
}
.select-input-wrapper.open i {
	background: transparent;
	font-size: 12px;
	color: var(--neutral-6);
	margin-top: 2px;
	border-left: none;
	padding: var(--space-xs) var(--space-s);
}
.select-input-options {
	position: relative;
	z-index: 991;
}
.select-input-options ul {
	box-shadow: var(--box-shadow-on-light-bck-light);
	list-style: none;
	border: 1px solid var(--neutral-7);
	border-top: none;
	border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
	font-size: 13px;
	color: var(--neutral-3);
}
.select-input-options ul li {
	padding: var(--space-xxs) calc(var(--space-m) - 5px);
	cursor: pointer;
	border-left: 5px solid transparent;
	transition: var(--transition-fast) all ease;
}

.select-input-options ul li.active {
	background: var(--primary-10);
	border-left: 5px solid var(--primary-6);
}

.select-input-options ul li:hover {
	background: var(--neutral-9);
	border-left: 5px solid var(--primary-4);
}

.select-input-divider {
	height: 1px;
	background: var(--neutral-8);
	width: 100%;
	margin: var(--space-xxs) 0;
}

.grid {
	display: flex;
	min-width: 100%;
}

.time-slots-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 2fr repeat(2, 1fr);
	justify-items: center;
	width: 100%;
	flex: 1;
	overflow-x: auto;
	padding-bottom: var(--space-s);
}

.time-slots-container .day-title {
	display: flex;
	flex-direction: column;
	padding: var(--space-xs) 0;
	min-width: 85px;
}
.time-slots-container .day-title span {
	text-align: center;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
}
.time-slots-container .day-title span:first-child {
	font-size: 13px;
	color: var(--neutral-3);
}
.time-slots-container .day-title span:nth-child(2) {
	font-size: 11px;
	color: var(--neutral-5);
}

.time-slots-container > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.time-periods-options {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: var(--space-s);
}

.time-periods-options .time-period {
	height: 25px;
	text-align: right;
	padding-right: var(--space-xs);
}

.time-periods-options .time-period > span {
	width: 100%;
	font-size: 13px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--neutral-3);
}
.slide-to-the-left {
	text-align: right;
	font-size: 10px;
	color: var(--neutral-5);
	font-weight: var(--font-bold-roboto);
}

@media screen and (min-width: 492px) {
	.slide-to-the-left {
		display: none;
	}
}

@media screen and (min-width: 900px) {
	.grid {
		justify-content: center;
		min-width: 600px;
	}
	.time-slots-container {
		max-width: 600px;
	}
	.time-periods-options {
		margin-left: 70px;
	}
}

.tag-selection-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--space-s) auto;
}
.tag-selection-container ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tag-selection-container ul li {
	padding: var(--space-xxs) var(--space-xs);
	color: var(--primary-5);
	border: 2px solid var(--primary-5);
	border-radius: var(--border-radius-m);
	margin-bottom: var(--space-s);
	box-shadow: var(--box-shadow-on-light-bck-light);
	font-weight: var(--font-bold-roboto);
	font-family: var(--roboto);
	cursor: pointer;
	transition: var(--transition-fast);
	margin: var(--space-xs);
}

.tag-selection-container ul li.active {
	background-color: var(--primary-5);
	color: var(--neutral-10);
}

.tag-selection-container ul li:hover {
	transform: scale(1.05);
	border: 2px solid var(--primary-4);
	background: var(--primary-10);
	color: var(--primary-5);
}

.session-container {
	background: var(--white);
	box-shadow: var(--box-shadow-on-light-bck);
	border-radius: var(--border-radius-m);
	padding: var(--space-s) var(--space-m);
	position: relative;
}

.session-container header h3 {
	font-size: 20px;
	text-align: left;
}

.session-container i.gift {
	position: absolute;
	top: calc(-1 * var(--space-s) / 2);
	left: calc(-1 * var(--space-m) / 2);
	background-color: var(--neutral-9);
	padding: var(--space-xxs);
	border-radius: 50%;
	height: 14px;
	width: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--neutral-4);
	font-size: 14px;
	border: 2px solid var(--neutral-4);
}

.session-container .info-wrapper .description,
.session-container .info-wrapper .room,
.session-container .info-wrapper .speakers-detail,
.session-container .info-wrapper .company {
	display: none;
}

.session-container.open .info-wrapper .description,
.session-container.open .info-wrapper .room,
.session-container.open .info-wrapper .speakers-detail,
.session-container.open .info-wrapper .company {
	display: inherit;
}

.session-container .info-wrapper .speakers-preview {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: var(--space-s) 0;
}

.session-container.open .info-wrapper .description {
	margin: var(--space-xxs) 0;
}

.session-container.open .info-wrapper .room {
	font-size: 13px;
	color: var(--neutral-4);
	text-transform: uppercase;
	font-weight: var(--font-bold-source-sans-pro);
	margin: var(--space-xxs) 0;
	margin-bottom: var(--space-s);
	letter-spacing: 1.3px;
}
.session-container.open .info-wrapper .speakers-preview {
	display: none;
}

.session-container .info-wrapper .speaker {
	margin: var(--space-xxs) var(--space-s);
	display: flex;
	align-items: center;
	flex-direction: row;
	position: relative;
	z-index: 0;
	min-width: 200px;
}

.session-container .info-wrapper .speaker div {
	box-shadow: var(--box-shadow-input-inset);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: var(--space-s);
}
.session-container .info-wrapper .speaker img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	position: relative;
	z-index: -1;
	object-fit: cover;
}

.session-container .info-wrapper .speaker h5 {
	text-align: left;
}

.session-container .toogle-info {
	position: absolute;
	display: flex;
	justify-content: center;
	width: calc(100% - 2 * var(--space-m));
	bottom: -16px;
}

.session-container .toogle-info i {
	font-size: 12px;
	padding: var(--space-xs);
	background: var(--primary-5);
	border-radius: 50%;
	color: var(--primary-10);
	cursor: pointer;
	box-shadow: var(--box-shadow-on-light-bck-light);
}

@media screen and (min-width: 592px) {
	.session-container {
		padding: var(--space-m) var(--space-l);
	}
}

.swiper-container {
	width: 100%;
}

.swiper-slide {
	min-height: 200px;
	width: 90%;
	background: #c0c0c0;
}
