:root {
	--primary-1: #001e3d;
	--primary-2: #07335e;
	--primary-3: #06447a;
	--primary-4: #035b9e;
	--primary-5: #0071bc;
	--primary-6: #1c8dd4;
	--primary-7: #34a7e5;
	--primary-8: #7acffa;
	--primary-9: #b8eaff;
	--primary-10: #dff1fc;
	--neutral-1: #1f2933;
	--neutral-2: #323f4b;
	--neutral-3: #3e4c59;
	--neutral-4: #52606d;
	--neutral-5: #616e7c;
	--neutral-6: #7b8794;
	--neutral-7: #9aa5b1;
	--neutral-8: #cbd2d9;
	--neutral-9: #e4e7eb;
	--neutral-10: #f5f7fa;
	--ok-1: #004440;
	--ok-2: #016457;
	--ok-3: #048271;
	--ok-4: #079a82;
	--ok-5: #17b897;
	--ok-6: #2dcca7;
	--ok-7: #5fe3c0;
	--ok-8: #8eedd1;
	--ok-9: #c6f7e9;
	--ok-10: #f0fcf9;
	--error-1: #610316;
	--error-2: #8a041a;
	--error-3: #ab091e;
	--error-4: #cf1124;
	--error-5: #e12d39;
	--error-6: #ef4e4e;
	--error-7: #f86a6a;
	--error-8: #ff9b9b;
	--error-9: #ffbdbd;
	--error-10: #ffe3e3;
	--orange-1: #841003;
	--orange-2: #ad1d07;
	--orange-3: #c52707;
	--orange-4: #de3a11;
	--orange-5: #f35627;
	--orange-6: #f9703e;
	--orange-7: #ff9466;
	--orange-8: #ffb088;
	--orange-9: #ffd0b5;
	--orange-10: #ffe8d9;
	--yellow-1: #8d2b0b;
	--yellow-2: #b44d12;
	--yellow-3: #cb6e17;
	--yellow-4: #de911d;
	--yellow-5: #f0b429;
	--yellow-6: #f7c948;
	--yellow-7: #fadb5f;
	--yellow-8: #fce588;
	--yellow-9: #fff3c4;
	--yellow-10: #fffbea;
	--bronze-1: #cd7f32;
	--bronze-2: #e4a86d;
	--bronze-3: #f6d2ae;
	--bronze-4: #fcead8;
	--silver-1: #c0c0c0;
	--silver-2: #e3e3e3;
	--silver-3: #f0f0f0;
	--silver-4: #efefef;
	--gold-1: #ffdb26;
	--gold-2: #ffe873;
	--gold-3: #fef3c0;
	--gold-4: #fdf7d5;
	--platinum-1: #a0b2c6;
	--platinum-2: #c6d2df;
	--platinum-3: #e3ebf3;
	--platinum-4: #dde6f1;
	--white: #ffffff;

	--roboto: "Roboto", sans-serif;
	--source-sans-pro: "Source Sans Pro", sans-serif;

	--space-xxxs: 2px;
	--space-xxs: 5px;
	--space-xs: 10px;
	--space-s: 15px;
	--space-m: 20px;
	--space-l: 30px;
	--space-xl: 40px;

	--font-regular: 400;
	--font-medium-roboto: 500;
	--font-bold-source-sans-pro: 600;
	--font-bold-roboto: 700;

	--box-shadow-on-light-bck: 0px 1px 6px var(--neutral-7);

	--box-shadow-on-light-bck-light: 0px 1px 6px var(--neutral-8);
	--box-shadow-on-light-bck-light-ok: 0px 1px 6px var(--ok-8);
	--box-shadow-on-light-bck-light-error: 0px 1px 6px var(--error-8);
	--box-shadow-on-light-bck-light-info: 0px 1px 6px var(--yellow-8);

	--box-shadow-img-inset: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2);

	--box-shadow-input-inset: inset 0 0 3px var(--neutral-8);
	--box-shadow-input-inset-ok: inset 0 0 3px var(--ok-8);
	--box-shadow-input-inset-error: inset 0 0 3px var(--error-8);
	--box-shadow-input-inset-info: inset 0 0 3px var(--yellow-8);

	--border-radius-m: 5px;

	--transition-fast: 0.18s;
	--transition-normal: 0.3s;

	--min-width-m: 250px;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--source-sans-pro);
	text-align: justify;
}

@media screen and (min-width: 600px) {
	.section-width {
		max-width: 85vw;
	}
}

@media screen and (min-width: 1200px) {
	.section-width {
		max-width: 1000px;
	}
}

@media screen and (min-width: 1800px) {
	.section-width {
		max-width: 1500px;
	}
}

h1 {
	font-size: 34px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	color: var(--primary-1);
}

h2 {
	font-size: 30px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--primary-2);
}

h3 {
	font-size: 24px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--primary-2);
}

h4 {
	font-size: 18px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--neutral-3);
}

h5 {
	font-size: 16px;
	font-family: var(--roboto);
	font-weight: var(--font-medium-roboto);
	color: var(--neutral-1);
}

h6 {
	font-size: 13px;
	font-family: var(--roboto);
	font-weight: var(--font-bold-roboto);
	color: var(--neutral-1);
	text-transform: uppercase;
}

@media screen and (min-width: 592px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 44px;
	}

	h3 {
		font-size: 36px;
	}
	h4 {
		font-size: 28px;
	}
	h5 {
		font-style: 20px;
	}
}

p {
	font-family: var(--source-sans-pro);
	color: var(--neutral-1);
	padding-bottom: var(--space-s);
}

p.small {
	font-size: 0.875rem;
	color: var(--neutral-6);
}
